{:extension/name :token
 ; build
 :cljs/module :main
 :cljs/namespace [token.core]
 :cljs/ns-bindings {; init-user is a service, so we need to expose it.
                    'token.core {'init-user! token.core/init-user!
                                 'user-icon-with-login token.core/user-icon-with-login}}
 ; run 
 
 :web/routes [; html pages
              ["/login" {:get token.identity.page.login/login-page
                         :middleware [ring.middleware.params/wrap-params]}]
              ["/me" {:get token.identity.page.me/me-page
                      :middleware [webserver.middleware.ctx/ctx-middleware
                                   ring.middleware.cookies/wrap-cookies
                                   muuntaja.middleware/wrap-format
                                   token.identity.local/identity-middleware]
                      :services #{:token}}]
              ; api endpoints 
              ["/token"
               ; identity endpoints
               ["/login" {:post token.identity.local/login-handler
                          :middleware [ring.middleware.cookies/wrap-cookies
                                       ring.middleware.params/wrap-params
                                       muuntaja.middleware/wrap-format
                                       webserver.middleware.ctx/ctx-middleware]
                          :services #{:token}}]
               ["/logout" {:get token.identity.local/logout-handler
                           :middleware [ring.middleware.cookies/wrap-cookies]}]
               ["/me" {:get token.identity.local/me-handler
                       :middleware [webserver.middleware.ctx/ctx-middleware
                                    ring.middleware.cookies/wrap-cookies
                                    muuntaja.middleware/wrap-format
                                    token.identity.local/identity-middleware]
                       :services #{:token}}]
               ["/oauth2"
                 ; oauth2 flow
                ["/start/:provider" {:get token.oauth2.handler.start/handler-oauth2-start
                                     :middleware [webserver.middleware.ctx/ctx-middleware
                                                  muuntaja.middleware/wrap-format
                                                  ring.middleware.params/wrap-params
                                                  ring.middleware.keyword-params/wrap-keyword-params]
                                     :services #{:token}}]
                ["/redirect/:provider" {:handler token.oauth2.handler.redirect2/handler-oauth2-redirect
                                        :middleware [webserver.middleware.ctx/ctx-middleware ; needs to access oauth2 config
                                                     ring.middleware.cookies/wrap-cookies ; oauth2 redirect needs to set cookies
                                                     ring.middleware.params/wrap-params
                                                     ring.middleware.keyword-params/wrap-keyword-params
                                                     muuntaja.middleware/wrap-format]
                                        :services #{:token}}]
                ["/authresult" {:get token.oauth2.handler.authresult/page-authresult
                                :middleware [ring.middleware.params/wrap-params]}]]]]

 :cljs-service {;:config-fn webly.spa.service/cljs-config-simple
                :start-fn token.core/init-user!
                :default-config {}}}

